<div class="multicont">
    <div class="toolbar">
      <div class="column_pallet" clickOutside (clickOutside)="outColumnClick()">
        <button class="toolbar-btn" (click)="toggle_column_pallet()">
          <i class="toolbar-btn-icon"><mat-icon>view_column</mat-icon></i>
          <span class="toolbar-btn-text">COLUMNS</span> 
        </button>
        <div class="column_pallet_items" *ngIf="column_sel_toggle">
          <div class="cp_srch">
            <span class="cp_srch_hdr">Find column</span>
            <input type="text" placeholder="Column title" class="cp_srch_inp">
          </div>
          <div class="column_sel_cont">
            <div class="column_sel" *ngFor="let col of keys">
              <div class="checkbox">
                <input type="checkbox" [(ngModel)]="col_detl[col].show"  (change)="columnSelector()"/>
                <label></label>
              </div>
              <div class="col_label">{{col_detl[col].col}}</div>
            </div>
          </div>
          <div class="col_sel_btn_grp">
            <button class="col_sel_btn">
              <span class="col_sel_btn_text">HIDE ALL</span> 
            </button>
            <button class="col_sel_btn">
              <span class="col_sel_btn_text">SHOW ALL</span> 
            </button>
          </div>
        </div>
      </div>
      <div class="filter_pallet" clickOutside (clickOutside)="outFilterClick()">
        <button class="toolbar-btn" (click)="toggle_filter_pallet()">
          <i class="toolbar-btn-icon"><mat-icon>filter_list</mat-icon></i>
          <span class="toolbar-btn-text">FILTERS</span>
        </button>
        <div class="filter_list" *ngIf="filter_pallet_toggle">
          <div class="filter_items">
            <div class="filter_item" *ngFor="let filter of filters">
              <div class="filter_del_btn">
                <button>
                  <mat-icon class="filter_del_icon">close</mat-icon>
                </button>
              </div>
              <div class="filter_con_sel" *ngIf="filters.length > 1">
                <div class="filter_con_sel_set" *ngIf="filter.connector > -1">
                  <select name="filter_con_sel" class="filter_con_sel" [(ngModel)]="filter.connector">
                    <option value="0" >AND</option>
                    <option value="1" >OR</option>
                  </select>
                  <mat-icon class="filter_con_sel_icon">arrow_drop_down</mat-icon>
                </div>
              </div>
              <div class="column_dropdown_selector">
                <label for="filter_col_sel" class="filter_col_sel_label">Columns</label>
                <div class="filter_col_sel_set">
                  <select name="filter_col_sel" class="filter_col_sel" [(ngModel)]="filter.col">
                    <option value="{{key}}" *ngFor="let key of keys">{{key}}</option>
                  </select>
                  <mat-icon class="filter_col_sel_icon">arrow_drop_down</mat-icon>
                </div>
              </div>
              <div class="operator_dropdown_selector">
                <label for="operator_col_sel" class="operator_col_sel_label">Operator</label>
                <div class="operator_col_sel_set">
                  <select name="operator_col_sel" class="operator_col_sel" [(ngModel)]="filter.filter">
                    <option value="0">contains</option>
                    <option value="1">equals</option>
                    <option value="2">start with</option>
                    <option value="3">ends with</option>
                    <option value="4">is not empty</option>
                    <option value="5">is any empty</option>
                  </select>
                  <mat-icon class="operator_col_sel_icon">arrow_drop_down</mat-icon>
                </div>
              </div>
              <div class="value_input_text_cont">
                <label for="value_input_text" class="value_input_label">Value</label>
                <div class="value_input_set">
                  <input type="text" 
                    name="value_input_text" 
                    class="value_input_text" 
                    placeholder="Filter Value"
                    (change)="applyFilter()"
                    [(ngModel)]="filter.filterValue"/>
                </div>
              </div>
            </div>
          </div>
          <div class="filter_optn_btns">
            <button class="filter_btn" (click)="addFilter()">
              <i class="filter_btn_icon"><mat-icon>add</mat-icon></i>
              <span class="filter_btn_text">ADD FILTER</span>
            </button>
            <button class="filter_btn" (click)="removeAllFilter()">
              <i class="filter_btn_icon"><mat-icon>delete_forever</mat-icon></i>
              <span class="filter_btn_text">REMOVE ALL</span>
            </button>
          </div>
        </div>
      </div>
      <button class="toolbar-btn">
        <i class="toolbar-btn-icon"><mat-icon>horizontal_split</mat-icon></i>
        <span class="toolbar-btn-text">DENSITY</span>
      </button>
      <button class="toolbar-btn">
        <i class="toolbar-btn-icon"><mat-icon>archive</mat-icon></i>
        <span class="toolbar-btn-text">EXPORT</span>
      </button>
    </div>
    <div class="tblcontainer"> 
      <table class="multitable">
        <thead>
          <tr>
            <th *ngFor="let head of keys_sel">
              <div class="headitem">
                <span>{{head}}</span>
                <div class="sort_option">
                  <span class="sort_unset" *ngIf="col_detl[head].sort == 0"> 
                    <mat-icon class="msicon">arrow_downward</mat-icon> 
                  </span>
                  <span class="desc" *ngIf="col_detl[head].sort == 2"> 
                    <mat-icon class="msicon">arrow_downward</mat-icon> 
                  </span>
                  <span class="asc" *ngIf="col_detl[head].sort == 1"> 
                    <mat-icon class="msicon">arrow_upward</mat-icon> 
                  </span>
                </div>
                <div class="slider">
                  <div class="drag_icon_container">
                    <mat-icon>drag_indicator</mat-icon>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource">
            <td *ngFor="let key of keys_sel">
              <span class="tbtext">{{ data[key] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagenator">

    </div>
</div> 
