.multicont{
  -webkit-box-shadow: 6px -5px 23px -3px rgba(0,0,0,0.21);
  -moz-box-shadow: 6px -5px 23px -3px rgba(0,0,0,0.21);
  box-shadow: 6px -5px 23px -3px rgba(0,0,0,0.21);
}

.toolbar{
  display: inline-flex;
}

.toolbar-btn, .filter_btn, .col_sel_btn{
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}

.toolbar-btn, .filter_btn, .col_sel_btn{
  display: flex;
  width: min-content;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
  margin: 3px;
  height: 30px;
  padding: 5px;
}

.toolbar-btn-text, .filter_btn_text, .col_sel_btn_text{
  margin: 2px;
  color: #0388a8;
}


.toolbar-btn-icon, .filter_btn_icon{
  margin: 2px;
  color: #0388a8;
}

.toolbar-btn:hover, .filter_btn:hover, .col_sel_btn:hover{
  background-color: #ebf7fa;
}

.tblcontainer{
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-wrap: nowrap;
  overflow: scroll;
}



.multitable th{
  position: sticky;
  background-color: white;
  top: 0;
  height: 60px;
}

.multitable tbody{
  height: 400px;
  overflow-y: scroll;
}

.multitable tr{
  border: 1px solid black
}

.multitable td{
  margin: 0 2px;
  padding: 0 3px;
}

.sort_option{
  margin: 5px;
}

.slider{
  position: relative;
  align-self: right;
}

.slider .drag_icon_container{
  position: absolute;
}

.sort_unset{
  display: none;
}

.multitable th:hover .sort_unset{
  display: inline;
  opacity: 50%;
  transition: 1000ms ease-out;
}

.msicon:hover{
  align-items: center;
  text-align: center;
  background-color: #f0f2f5;
  border-radius: 50%;
  margin: 3px;
}

/* column pallet styling */

.column_pallet_items{
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 1;
  border: 2px solid black;
}

.cp_srch{
  display: flex;
  flex-direction: column;
}

.cp_srch .cp_srch_hdr{
  display: flex;
  width: 92%;
  font-size: .7rem;
  font-weight: normal;
  margin: 0 auto;
  color: #0388a8;
  text-align: left;
}

.cp_srch .cp_srch_inp{
  all: unset;
}

.cp_srch .cp_srch_inp:active{
  all:unset
}

.cp_srch .cp_srch_inp{
  display: flex;
  width: 92%;
  border: none;
  border-bottom: 2px solid #0388a8;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 5px;
}

/* column select container css */
.column_sel_cont{
  height: 350px;
  overflow-y: scroll;
}


/* toggle input flow wiht label */
.column_sel{
  display: flex;
  flex-direction: row;
}

/* toggle css */
.checkbox {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.checkbox:after, .checkbox:before {
  font-family: FontAwesome;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.checkbox label {
  width: 90px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
}

.checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
  left: 40px;
}

.column_sel .checkbox label {
  background: #bbb;
  height: 10px;
  width: 30px;
}
.column_sel .checkbox label:after {
  background: #fff;
  top: -5px;
  width: 18px;
  height: 18px;
}
.column_sel .checkbox input:hover + label:after {
  transform: scale(1, 1);
}
.column_sel .checkbox input:checked + label {
  background: #0388a8;
}
.column_sel .checkbox input:checked + label:after {
  background: #0388a8;
  left: 13px;
}

/* column_sel input label css */
.column_sel .col_label{
  text-align: center;
  padding: 5px;
  font-size: .9rem;
  font-weight: normal;
}

/* column filter pallter selector button css */
.col_sel_btn_grp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* .filter_pallet{
  position: absolute;
  width: 510px;
  display: flex;
  flex-direction: column;
  color: #1C2025;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;  
  background-color: white;
  z-index: 1;
  border-radius: 4px;
  min-width: 300px;
  max-height: 450px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 
              0px 8px 10px 1px rgba(0,0,0,0.14), 
              0px 3px 14px 2px rgba(0,0,0,0.12);
} */

.filter_list{
  position: absolute;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  color: #1C2025;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;  
  background-color: white;
  z-index: 10;
  border-radius: 4px;
  max-height: 450px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 
              0px 8px 10px 1px rgba(0,0,0,0.14), 
              0px 3px 14px 2px rgba(0,0,0,0.12);
}

.filter_items{
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.filter_item{
  display: flex;
  flex-direction: row;
  margin: 4px 0px;
}

.filter_del_icon{
  position: absolute;
  padding: 2px;
  color:rgba(0, 0, 0, 0.54);
}

.filter_del_btn{
  display: inline-flex;
  flex-direction: column;
  margin: 0px 4px 1.6px 0px;
  vertical-align: bottom;
  justify-content: flex-end;
}

.filter_del_btn button{
  all: unset;
  padding: 5px;
  height: 30px;
  width: 30px;
}

.filter_del_btn button :hover{
  background-color: rgba(0, 0, 0, 0.04);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.54);
  outline-color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.column_dropdown_selector{
  display: flex;
  flex-direction: column;
  width: 150px;
}

.operator_dropdown_selector{
  width: 120px;
}


.filter_col_sel_label, .operator_col_sel_label, .value_input_label, .filter_con_sel_label{
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: 0.00938em;
  padding: 0px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 133%;
  transform: translate(0px, -1.5px) scale(0.75);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.filter_col_sel_set, .operator_col_sel_set, .value_input_set, .filter_con_sel_set{
  width: 150px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.operator_col_sel_set{
  width: 120px;
}

.filter_col_sel_set:hover, .operator_col_sel_set:hover, .value_input_set:hover, .filter_con_sel_set:hover{
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.filter_col_sel_set:focus-within, 
.operator_col_sel_set:focus-within, 
.value_input_set:focus-within,
.filter_con_sel_set:focus-within{
  border-bottom: 2px solid #0388a8;
}

.filter_col_sel, .operator_col_sel, .filter_con_sel{
  all:unset;
  display: block;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 24px;
  box-sizing: content-box;
  background: none;
  height: 48px;
  height: 1.4em;
  display: block;
  width: 100%;
}

.filter_con_sel{
  padding-top: 10px;
}

.filter_con_sel, .filter_con_sel_set{
  width: 55px;
}

.filter_col_sel_icon, .operator_col_sel_icon, .filter_con_sel_icon{
  position: absolute;
  right: 0;
  top: 4px;
  width: 24px;
  cursor: text;
  box-sizing: border-box;
  z-index: 0;
}

.value_input_text{
  all:unset;
  color: currentcolor;
  padding: 4px 0px 5px;
  box-sizing: content-box;
  height: 1.4em;
  margin: 0px;
  cursor: text;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
}

.value_input_text_cont, .value_input_set{
  width: 190px;
}

/* filter button options */
.filter_optn_btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

/* table view css */
.multi_tbl_cell_cont, .headitem{
  display: flex;
  max-height: 36px;
  min-height: 36px;
  min-width: 100px;
  padding: 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  align-items: center;
}


.multi_tbl_cell_cont .tbtext{
  text-wrap: nowrap;
  text-overflow: ellipsis;  
}

.multitable  tr:hover{
  cursor: pointer;
}

.multitable  tr:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

.multitable  tr:focus-visible{
  background-color: rgba(45, 131, 170, 0.04);
}
 