<div class="multicont">
    <div class="toolbar">
      <button class="toolbar-btn">
        <i class="toolbar-btn-icon"><mat-icon>view_column</mat-icon></i>
        <span class="toolbar-btn-text">COLUMNS</span> 
      </button>
      <button class="toolbar-btn">
        <i class="toolbar-btn-icon"><mat-icon>filter_list</mat-icon></i>
        <span class="toolbar-btn-text">FILTERS</span>
      </button>
      <button class="toolbar-btn">
        <i class="toolbar-btn-icon"><mat-icon>horizontal_split</mat-icon></i>
        <span class="toolbar-btn-text">DENSITY</span>
      </button>
      <button class="toolbar-btn">
        <i class="toolbar-btn-icon"><mat-icon>archive</mat-icon></i>
        <span class="toolbar-btn-text">EXPORT</span>
      </button>
    </div>
    <div class="tblcontainer"> 
      <table class="multitable">
        <thead>
          <tr>
            <th *ngFor="let head of keys">
              <div class="headitem">
                <span>{{head}}</span>
                <div class="sort_option">
                  <span class="sort_unset" *ngIf="col_detl[head].sort == 0"> 
                    <mat-icon class="msicon">arrow_downward</mat-icon> 
                  </span>
                  <span class="desc" *ngIf="col_detl[head].sort == 2"> 
                    <mat-icon class="msicon">arrow_downward</mat-icon> 
                  </span>
                  <span class="asc" *ngIf="col_detl[head].sort == 1"> 
                    <mat-icon class="msicon">arrow_upward</mat-icon> 
                  </span>
                </div>
                <div class="slider">
                  <div class="drag_icon_container">
                    <mat-icon>drag_indicator</mat-icon>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource">
            <td *ngFor="let key of keys">
              <span class="tbtext">{{ data[key] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagenator">

    </div>
</div> 
