@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}

body {
	 position: relative;
	 font-family: 'Roboto', sans-serif;
}
 .card {
	 display: flex;
	 flex-direction: column;
	 border-radius: 0.5rem;
	 background-color: #fff;
	 margin: 1.25rem 0 1.25rem 0;
	 box-shadow: 0 0.25rem 0.5rem #e6edef;
}
 .card .card-head {
	 padding: 1rem 1.5rem;
	 border-bottom: 1px solid #edf1f7;
	 font-size: 1rem;
	 font-weight: 600;
}
 .card .card-body {
	 padding: 1rem 1.5rem;
}


/* global normalizing css for whole project */
button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

input[type="text"],
input[type="datetime-local"],
input[type="color"],
select {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}